@import "../../styles/base/variables";
@import "../../styles/base/mixins";
:root {
  @media (max-width: 48em) {
    .containerGrid {
      width: 100vw;
      column-gap: 1.5rem;
    }

    .contentMiddle {
      margin: 0;
      padding: 1.25rem;
    }
  }

  @media (max-width: 47.812em) {
    .containerSection::after {
      padding-bottom: 1rem;
    }
    .containerSection {
      padding: 3rem 0;
      background: var(--gray-150);
    }
    .containerGrid {
      @include flex(center);
      @include flexDirection(column, wrap);
      padding: 1rem;
    }
  }

  @media (max-width: 57.5em) and (min-width: 48.0625em) {
    .containerSection {
      padding-bottom: 3rem;
    }
    .imgMiddle {
      padding-top: 3rem;
    }

    .contentMiddle {
      h2 {
        font-size: 2.5em;
        line-height: 3rem;
        margin-bottom: 1.5rem;
      }

      p {
        padding-bottom: 3.5rem;
      }
    }
  }
}

.containerSection {
  position: relative;
  width: 100vw;
  &::after {
    content: "";
    
    clip-path: polygon(0 46%, 100% 0%, 100% 100%, 0% 100%);
    height: 7.5rem;
    bottom: 0;
    position: absolute;
    width: inherit;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125)
  }
}

.containerGrid {
  column-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: $marginDefault;
  width: 80vw;
}

.contentMiddle {
  padding-top: 5.37rem;
  margin: $marginDefault;

  h2 {
    font-size: 3.12em;
    line-height: 3.66rem;
    margin-bottom: 2.56rem;
  }

  p {
    font-size: 1.37em;
    line-height: 1.87rem;
    padding-bottom: 1.5rem;
  }
}

.imgMiddle {
  padding-top: 2.56rem;
  margin: $marginDefault;
  picture,
  img {
    max-width: 100%;
    height: auto;
  }
}
