@import "../../styles/base/variables";
@import "../../styles/base/componets";

:root {
  @media (max-width: 780px) {
    .mainContainer {
      background: linear-gradient(
          rgba(0, 0, 0, 0.75) 0%,
          rgba(0, 0, 0, 0.75) 100%
        ),
        url(#{$path}/imgMainBanner.webp) center;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100vw;
    }

    .mainSection {
      padding-left: 0;      
      p {
        padding: 0.5rem;
      }
    }
  }

  @media (max-width: 1080px) {
    .mainSection {
      padding-top: min(18.25rem, 10vh);
    }
  }
}

.mainContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%),
    url(#{$path}/imgMainBanner.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - $overlay);
  width: 100vw;
}

.mainSection {
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 3.7rem;
  padding-top: max(18.25rem, 10vh);
  transition: filter 0.2s;
  position: absolute;

  h1 {
    font-size: min(5rem, 10vw);
    line-height: inherit;
    margin-bottom: 2.5rem;
    display: block;
  }

  p {
    font-size: 1.87rem;
    line-height: 2.19rem;
    display: block;
  }

  button {
    @include buttonDefault(var(--red-200), var(--white));
    &:hover {
      background: var(--red-300);
      filter: brightness(0.9);
      transition: color 0.2s;
    }
  }
}
