@import "../../styles/base/variables";
@import "../../styles/base/componets";

:root{
   @media(max-width:768px){
      .mainContainer{
         background-size:cover;
      }

      .mainSection {
         padding-top: calc(10rem - 5vh);
         h1 {
            font-size:min(5rem, 12vw);
            line-height: inherit;
         }
      }
   }

   @media(max-width:425px){
      .mainSection {
         padding-left: 1.25rem;
         padding-right: 1.25rem;
      }
   }
}

.mainContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%),
    url(#{$path}/imgMainBanner.svg) center;
  background-repeat: no-repeat;
  background-size:cover;
  height: calc(100vh - $overlay);
  width: 100vw;
}

.mainSection {
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 3.7rem;
  padding-top: min(calc(18.25rem + $overlay), 15vw);

   h1 {
      font-size: 5rem;
      line-height: 5.85rem;
      margin-bottom: 2.5rem;
   }

   p {
      font-size: 1.87rem;
      line-height: 2.19rem;
   }

   button {
      @include buttonDefault (var(--red-200), var(--white)); 
         &:hover {
            background: transparent;
            border: 4px solid var(--red-200);
            box-shadow: 2px 3px 15px 0px var(--red-300);
            color: var(--white);
            font-weight: bold;
         }               
   }      
}
