@import "../../styles/base/variables";
@import "../../styles/base/mixins";
@import "../../styles/base/animations";

:root {
  @media (max-width:47.75em) {
    .mainContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .mainSection {
      padding-left: 0;
      p {
        padding: 0 0.5rem;
        font-size: 1.5rem;
      }
      h1 {
        margin-top: 0.5rem;
      }
    }
  }

  @media (max-width: 1399px) {
    .mainSection {
      padding-top: min(18.25rem, 10vh);
    }
  }
}

.mainContainer {
  @include bannerGradient(--black-075, --black-075, $path);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - $overlay);
  width: 100vw;
}

.mainSection {
  @include flexDirection(column, wrap);
  color: var(--white);
  margin: $marginDefault;
  padding-left: 3.7rem;
  padding-top: max(18.25rem, 10vh);
  transition: filter 0.2s;

  h1 {
    font-size: min(5em, 10vw);
    line-height: inherit;
    margin-bottom: 2.5rem;
    display: block;
    -webkit-animation: slideInLeft 1s ease-in 0.6s both;
    animation: slideInLeft 1s ease-in 0.6s both;
  }

  p {
    font-size: 1.87em;
    line-height: 2.19rem;
    display: block;
    -webkit-animation: slideInTop 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
      both;
    animation: slideInTop 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
  }

  button {
    @include buttonDefault();
    -webkit-animation: slideInBottom 1s ease 0.8s both;
    animation: slideInBottom 1s ease 0.8s both;
    -webkit-box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.9);
    &:hover {
      background: var(--red-300);
      filter: brightness(0.9);
      transition: color 0.2s;
    }
  }
}
