@import "../../styles/base/variables";
@import "../../styles/base/mixins";

:root {
  @media (max-width: 26.562em) {
    .media {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.headerContainer {
  @include headerGradient(--red-200, --red-300);
  color: var(--white);
  width: 100vw;
  padding: 1.5rem;

  nav {
    @include flex(space-between);
    flex-wrap: wrap;
    padding-right: 1rem;
  }
}

.title {
  span {
    font-size: 1.875em;
    font-weight: 700;
  }
}

.media {
  transition: filter 0.2s;

  svg {
    height: 2rem;
    margin-left: 1.25rem;
    width: 1.85rem;

    &:hover {
      color: $red-180;
      filter: drop-shadow(-0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3));
      transform: scale(1.05);
      transition: filter 0.2s;
    }
  }
}
