@import "../../styles/base/variables";
@import "../../styles/base/mixins";

:root {
  @media (max-width: 26.562em) {
    .media {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.headerContainer {
  @include headerGradient(#FCA311, #EC604F, #5C3365, #14213D);
  color: var(--white);
  width: 100vw;
  padding: 1.5rem;  

  nav {
    @include flex(space-between);
    flex-wrap: wrap;
    padding-right: 1rem;
  }
}

.title {
  span {
    color: var(--gray-900);
    font-size: 1.875em;
    font-weight: 700;
    filter: drop-shadow(3px 5px 10px rgba(0, 0, 0, 0.7));
  }
}

.media {
  transition: transform 0.2s;

  svg {
    height: 2rem;
    margin-left: 1.25rem;
    width: 1.85rem;

    &:hover {
      color: $red-180;      
      transform: scale(1.05);
      transition: all 0.2s;
    }
  }
}
