.footer {
   background: var(--gray-150);
   font-size: 0.875rem;
   line-height: 1.25rem;
   padding-bottom: 1.25rem;
   padding-top: 1.875rem;
   text-align: center;
   width: 100vw;

   span {
      font-weight: 700;
      &:hover {
        color: var(--red-200);
      }
   }
}