@import "../../styles/base/variables";
@import "../../styles/base/mixins";

:root {
  @media (max-width: 64em) {
    .container {
      width: 100vw;
      padding: 4.43rem 1.5rem;

      h2,
      p {
        text-align: center;
      }
    }
  }

  @media (max-width: 61.81em) {
    .formContent {
      form {
        @include customFlex(column, wrap);
        margin: marginDefault;

        input {
          @include inputDefault(
            var(--white),
            var(--gray-250),
            0,
            var(--gray-270),
            80vw
          );
          margin-bottom: 1.5rem;
          margin-right: 0;
        }

        label {
          line-height: 1.5rem;
        }

        button {
          align-self: center;
          width: 80vw;
        }
      }
    }
  }
}

.container {
  width: 80vw;
  margin: $marginDefault;
  padding: 4.43rem 0;

  h2 {
    font-size: 3.12em;
    line-height: 3.12rem;
    margin-bottom: 1.31rem;
  }

  p {
    font-size: 1.37em;
    line-height: 1.87rem;
    margin-bottom: 2.31rem;
  }
}

.formContent {
  display: flex;
  align-items: center;

  form {
    display: flex;
    flex-direction: row;
    transition: filter 0.2s;

    button {
      @include buttonDefault(var(--green-300), var(--white));
      align-self: flex-end;
      -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.5);
      &:hover {
        filter: brightness(0.9);
        transition: filter 0.2s;
      }
    }

    label {
      color: var(--gray-600);
      @include flexDirection(column, wrap);
      font-size: 0.875rem;
      font-weight: 700;
    }

    input {
      @include inputDefault(
        var(--white),
        var(--gray-250),
        1.375rem,
        var(--gray-270),
        21.125rem
      );
      margin-top: 0.5rem;
      &:focus {
        outline: 1px solid var(--green-300);
        -webkit-box-shadow: 1px 1px 10px 0px var(--green-300);
        box-shadow: 1px 1px 10px 0px var(--green-300);
      }
    }
  }
}
